body {
    margin:0;
    height:100vh;
    overflow:hidden;
}
.side-panel {
    width:200px;
    float:left;
    height:100vh;
    background:#606060;
    overflow:auto;
}
.side-panel .header {
    padding: 7px;
    background:#404040;
    color:#B0B0B0;
}
.side-panel .body {
    margin:7px -7px -7px -7px;
    padding:5px 20px;
    background: #606060;
}
.side-panel .search {
    margin:15px auto;
    border:1px solid #C0C0C0;
    border-radius:2px;
    width:85%;
}
input {
    width:96%;
    padding:2px;
}
.main-panel {
    height:100vh;
}
.info-panel {
    overflow:auto;
    height:87%;
}

.tracklist,.file-browser {
    overflow:hidden;
    padding:10px;
}

.track,.folder {
    padding:7px 0;
    border:1px solid #D0D0D0;
    overflow:hidden;
    max-width:600px;
}

.track-buttons {
    float:right;
    margin:0 10px;
}

.play,.remove {
    cursor:pointer;
    font-size:20px;
}

.now-playing {
    overflow:hidden;
    height:17%;
    min-height:100px;
    background:#404040;
    color:#B0B0B0;
}

.progress {
    margin:10px;
    border:1px solid #D0D0D0;
}

.controls {
    margin:10px;
    overflow:hidden;
}
.button {
    float:left;
    margin:7px 10px;
    font-size:30px;
    cursor:pointer;
}

.media-info {
    float:right;
    margin:0;
    height:50px;
    width:50%;
    overflow:hidden;
    white-space:nowrap;
}

.album-art {
    float:left;
    border:1px solid #D0D0D0;
    height:48px;
    width:48px;
}

.song-info,.folder-info {
    float:left;
    margin:0 0 0 10px;   
    height:48px;
    max-width:75%;
    white-space:nowrap;
    overflow:hidden;
}

.title,.artist,.album {
    font-size:14px;
    overflow:hidden;
    white-space:nowrap;
}

.loading {
    display:table;
    margin:45vh auto;
}

@media screen and (max-width:800px) {
    .side-panel {
        position:absolute;
        left:-200px;
    }
}
@media screen and (max-width:500px) {
    .side-panel {
        width:100%;
    }
